  display: block;
  #team-create {
}
#team-create .pure-form {
  background-color: #fff;
  margin: 0 0 30px 0;
  padding: 15px;
}
#team-create .pure-form h2 {
  color: #aaa;
  margin-top: 9px;
}
#team-create h2 {
  margin: 0;
}
#team-create .pure-form input[type="text"] {
  width: 100%;
}
#team-create .pure-form .content {
  margin: 0 10px;
}

#team-create .item-create {
  background-color: #fff;
  overflow: hidden;
  margin: 5px;
  cursor: pointer;
  transition: background-color .3s, opacity .3s;
}
#team-create .item-create .item-media {
  box-sizing: border-box;
  height: 250px;
  overflow: hidden;
}
#team-create .item-create .item-body {
  padding: 10px;
}
#team-create .item-create .item-body h1 {
  font-size: 1.7rem;
  line-height: 1.7rem;
}
#team-create .item-create .item-body h1,
#team-create .item-create .item-body p {
  margin: 0 0 10px 0;
}
#team-create .item-create .item-body .team {
  color: #ccc;
  text-transform: uppercase;
  font-size: .9rem;
}
#team-create .item-create .item-body .price {
  background-color: orangered;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}
#team-create .item-create .item-body p:last-child {
  margin-top: 15px;
}
#team-create .item-create-selected {
  background-color: mediumslateblue;
  color: #fff;
}
#team-create .item-create-selected .item-body .price {
  background-color: rgba(0, 0, 0, .1);
}
#team-create .item-create-selected .item-media {
  border: 5px solid mediumslateblue;
}
#team-create .item-create-inactive {
  opacity: .3;
  cursor: default;
}

#team-create.loading .pure-form .content {
  background-color: #eee;
  height: 42px;
}
#team-create.loading .pure-form .pure-u-1-1:last-child .content {
  background-color: mediumslateblue;
}
#team-create.loading .item-media {
  border: 10px solid white;
  background-color: #eee;
  text-align: center;
}
#team-create.loading .item-create .item-body .price {
  width: 100px;
  display: inline-block;
}
#team-create.loading .item-create .item-body .team {
  background-color: #eee;
  width: 30%
}
#team-create.loading .item-create .item-body h1 {
  background-color: #eee;
  width: 80%;
}

@media screen and (max-width: 48em) {
  #team-create .pure-form .pure-u-1-1 {
    margin-bottom: 10px;
  }
  #team-create .pure-form .pure-u-1-1 h2 {
    text-align: center;
  }
}
