.animation-page-in {
  animation-duration: .5s;
  animation-name: slideout;
  margin-left: 0;
  margin-right: 0;
}
.animation-fade-in {
  animation-duration: .7s;
  animation-name: fadein;
  opacity: 1;
}

@keyframes slideout {
  0% {
    margin-left: 100%;
    margin-right: -100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
}
