#login {
  max-width: 350px;
  margin: 50px auto;
  text-align: center;
  color: #666;
}
#login .brand {
  padding: 0;
  display: inline-block;
  margin-bottom: 30px;
}
#login .brand .logo  {
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
}
#login .brand .first {
  border-radius: 100% 0 0 0;
  background-color: #19647E;
}
#login .brand .second {
  background-color: #28AFB0;
}
#login .brand .third {
  background-color: #F4D35E;
}
#login .brand .fourth {
  border-radius: 0 0 100% 0;
  background-color: #EE964B;
  position: relative;
}
#login .brand .fourth:after {
  content: ' ';
  position: absolute;
  top: -10px;
  left: 50%;
  right: -50%;
  height: 6px;
  background-color: #EE964B;
}
#login .brand .name {
  color: #1F271B;
  margin-left: 30px;
  margin-top: -4px;
  text-transform: uppercase;
  font: 400 2.2rem/2.2rem 'Oswald', 'sans-serif';
  vertical-align: middle;
  display: inline-block;
}
#login ul {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}
#login li {
  margin: 0;
  padding: 0;
}
#login li a {
  display: block;
  text-align: left;
  color: #19647E;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: white;
  transition: background .3s, color .3s;
}
#login a:hover {
  color: white;
  background-color: #19647E;
}
#login li i {
  margin-right: 15px;
  font-size: 1.4rem;
}
