#navigation {
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  height: 100%;
  width: 280px;
  transition: right .5s;
  right: 0;
  background: #333;
  color: #ccc;
}
#navigation.closed {
  right: -280px;
}
#navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#navigation h4 {
  padding: 0 15px;
  margin: 5px 0 10px 0;
  color: #999;
  font-weight: 300;
}
#navigation li,
#navigation a {
  margin: 0;
}
#navigation a {
  padding: 8px 15px;
  display: block;
  text-decoration: none;
  color: #ccc;
  vertical-align: middle;
  transition: color .5s;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9rem;
}
#navigation .active {
  padding: 12px 15px;
  color: #fff;
  background-color: mediumslateblue;
}
#navigation .active:hover {
  color: white;
}
#navigation a:hover {
  color: #BF0603;
}
#navigation .close {
  padding: 9px;
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 50px;
  height: 42px;
  font-size: 1.6rem;
  box-sizing: border-box;
  transition: padding .3s, width .3s, height .3s, background .3s;
}
#navigation .close i {
  color: #666;
  transition: transform 1s;
}
#navigation.closed .close {
  padding: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background-color: mediumslateblue;
  color: #fff;
  bottom: 0;
  text-align: center;
  border-radius: 10px 0 0 0;
}
#navigation.closed .close i {
  transform: rotate(180deg);
  color: white;
  line-height: 50px;
}
#navigation .brand {
  border-bottom: 1px solid #444;
  padding: 20px 15px;
  margin-bottom: 20px;
}
#navigation .brand .logo  {
  display: inline-block;
  width:10px;
  height: 10px;
  vertical-align: middle;
}
#navigation .brand .first {
  border-radius: 100% 0 0 0;
  background-color: #ccc;
}
#navigation .brand .second {
  background-color: mediumslateblue;
}
#navigation .brand .third {
  background-color: gold;
}
#navigation .brand .fourth {
  border-radius: 0 0 100% 0;
  background-color: #BF0603;
  position: relative;
}
#navigation .brand .fourth:after {
  content: ' ';
  position: absolute;
  top: -5px;
  left: 50%;
  right: -50%;
  height: 3px;
  background-color: #BF0603;
}
#navigation .brand .name {
  margin-left: 18px;
  margin-top: -4px;
  text-transform: uppercase;
  font: 500 1.3rem/1.3rem 'Oswald', 'sans-serif';
  vertical-align: middle;
  display: inline-block;
}
