#rules .content {
  padding: 15px;
  margin: 5px;
  background-color: #fff;
  height: 100%;
}
#rules h4 {
  margin-bottom: 0;
}
#rules table {
  width: 100%;
  table-layout: fixed;
}
#rules th {
  color: #aaa;
  border-bottom: 3px solid gold;
  font-weight: 300;
  text-align: left;
  padding: 5px 0;
}
#rules th:last-child {
  text-align: right;
}
#rules td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
#rules td:last-child {
  text-align: right;
  font-weight: 400;
}
#rules .pure-g {
  align-items: stretch;
}

@media (max-width: 35.5em) {
  #rules .content {
    height: auto;
  }
}
