#nav {
  position: fixed;
  z-index: 1;
  background-color: #000;
  box-sizing: border-box;
  height: 100%;
  width: 250px;
  transition: left .5s;
  left: 0;
}
#nav.closed {
  left: -250px;
}
#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#nav li:first-child {
  margin-right: 20px;
}
#nav li,
#nav a {
  margin: 0;
}
#nav a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
  vertical-align: middle;
  text-transform: uppercase;
  transition: color .5s;
}
#nav .active {
  color: #fff;
}
#nav .active:hover {
  color: #fff;
}
#nav a:hover {
  color: rgba(255, 255, 255, .8);
}
#nav .close {
  padding: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 15px 0 0 15px;
  width: 50px;
  height: 42px;
  font-size: 1.4rem;
  color: #000;
  box-sizing: border-box;
  margin-top: -25px;
  transition: border-radius .3s, right .3s, box-shadow .3s, color .3s, background .3s;
}
#nav .close i {
  transition: transform 1s;
}
#nav.closed .close {
  border-radius: 0 15px 15px 0;
  right: -50px;
  border-width: 2px 2px 2px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
  background-color: #6075E0;
  color: #fff;
}
#nav.closed .close i {
  transform: rotate(180deg);
}
#nav .brand {
  padding: 30px 15px 20px 15px;
  color: #fff;
  display: inline-block;
}
#nav .brand .logo  {
  display: inline-block;
  width:10px;
  height: 10px;
  vertical-align: middle;
}
#nav .brand .first {
  border-radius: 100% 0 0 0;
  background-color: orangered;
}
#nav .brand .second {
  background-color: gold;
}
#nav .brand .third {
  background-color: limegreen;
}
#nav .brand .fourth {
  border-radius: 0 0 100% 0;
  background-color: mediumslateblue;
  position: relative;
}
#nav .brand .fourth:after {
  content: ' ';
  position: absolute;
  top: -5px;
  left: 50%;
  right: -50%;
  height: 3px;
  background-color: mediumslateblue;
}
#nav .brand .name {
  color: #fff;
  margin-left: 18px;
  margin-top: -4px;
  text-transform: uppercase;
  font: 400 1.3rem/1.3rem 'Oswald', 'sans-serif';
  vertical-align: middle;
  display: inline-block;
}
